.menu {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
}

.dish {
    /*flex: 0 1 24%;*/
  flex-grow: 1;
  margin-bottom: 30px;
  margin-right: 4px;
}
.menu-container {
    display: flex;
}
.home-page{
    display: flex;
    flex-direction: column;
}
/* ::ng-deep .mat-pseudo-checkbox{ display: none !important; } */
