<mat-card class="dish-card">
    <mat-card-title> {{dish.name}} </mat-card-title>
    <mat-card-subtitle>{{ dish.price }} грн, {{dish.weight}} {{unit}}</mat-card-subtitle>
    <img mat-card-image src={{dish.photo}} alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
       Інгредієнти: {{contents}}
      </p>
    </mat-card-content>
    <mat-card-actions *ngIf="canOrder">
      <input
        [value]="ordered"
        (input)="ordered = $event.target.value; orderedChange.emit(ordered)"
        matInput type="number" placeholder="Ex. 12" min="0">
    </mat-card-actions>
    <mat-card-footer>
        <div class="footer">
            Категорії: {{categories}}
        </div>
    </mat-card-footer>
  </mat-card>
