<ng-container [ngSwitch]="displayMode" class="card-cont">
  <mat-card *ngSwitchCase="DishDisplayMode.Compact" class="dish-card">
    <mat-card-header>
    <div mat-card-avatar class="avatar" [style.background-image]="backgroundImage"></div>
    <mat-card-title> {{dish.name}} </mat-card-title>
    </mat-card-header>
  <mat-card-actions>
      <input
        [value]="ordered"
        (input)="ordered = $event.target.value; orderedChange.emit(ordered)"
        matInput type="number" placeholder="Ex. 12" min="0">
    </mat-card-actions>
  </mat-card>

  <mat-card *ngSwitchCase="DishDisplayMode.Full" class="dish-card">
    <mat-card-title class="dish-name"> {{dish.name}} </mat-card-title>
    <mat-card-subtitle>{{ dish.price }} грн, {{dish.weight}} {{unit}}</mat-card-subtitle>
    <img mat-card-image src={{dish.photo}} alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
       Інгредієнти: {{contents}}
      </p>
    </mat-card-content>

    <mat-card-actions>
      <input
        [value]="ordered"
        (input)="ordered = $event.target.value; orderedChange.emit(ordered)"
        matInput type="number" placeholder="Ex. 12" min="0">

    </mat-card-actions>


    <div class="foot-cont">
      <mat-card-footer style="margin: -16px 0">
        <div class="footer">
          {{categories}}
        </div>
      </mat-card-footer>
    </div>
  </mat-card>

</ng-container>
