
<div>
  <div class="card card-margin">
    <h4 class="card-header" style="margin-bottom: 0">New category</h4>

    <div class="card-body">
      <div *ngIf="success" class="alert alert-success">{{success}}</div>
      <div *ngIf="error" class="alert alert-danger">{{error}}</div>

      <form class="form" (ngSubmit)="ff.form.valid && submit(ff)" #ff="ngForm"
            novalidate>


        <div class="form-group">
          <label for="name">Name</label>
          <input class="form-control"
                 type="text"
                 name="name"
                 [(ngModel)]="category.name"
                 #name="ngModel"
                 [ngClass]="{ 'is-invalid': ff.submitted && name.invalid }"
                 required/>
          <div *ngIf="ff.submitted && name.invalid" class="invalid-feedback">
            <div *ngIf="name.errors.required">Name is required</div>
          </div>
        </div>


        <button class="btn btn-primary addButton">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          {{this.category.uid ? "Save" : "Add"}}
        </button>
      </form>
    </div>
  </div>
</div>

