<mat-card class="order-card">
  <mat-card-title class="title">
    <span class="subtitle">Замовлення №{{order.uid}}</span>
    <span class="status">{{getStatus()}}</span>
  </mat-card-title>
  <mat-card-subtitle>
    {{order.orderTime | date: 'dd/MM hh:mm':'+0200'}} <br>
    {{order.total}} грн, {{getPaymentState()}}
  </mat-card-subtitle>
  <mat-card-content>

    <div class="list">
      <app-portions
        [portions]="order.portions"
        [prefs]="order.preferences"
        style="flex-grow: 2; flex-basis: 200px;"
      ></app-portions>

      <app-client-info
        [client]="order.client"
        style="flex-grow: 1; flex-basis: 100px;"
      ></app-client-info>
    </div>

    <div class="actions">
      <button mat-flat-button color="primary" *ngIf="canBeConfirmed()" (click)="confirm()">Підтвердити</button>
      <button mat-stroked-button *ngIf="canBeSetInProgress()" (click)="cooking()">Готується</button>
      <button mat-flat-button color="primary" *ngIf="canBeSetReady()" (click)="ready()">Готово</button>
      <button mat-flat-button color="primary" *ngIf="canBeDone()" (click)="done()">Забрано <span *ngIf="!isPaid()">та оплачено</span></button>
      <button mat-flat-button color="accent" *ngIf="canBeCancelled()" (click)="cancel()">Відмінити</button>
    </div>
  </mat-card-content>
</mat-card>
