

.order-card {
  margin: 13px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex: 1;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

button {
  margin: 6px 0 6px 3px;
}
