<mat-card class="order-card">
  <mat-card-title> Замовлення №{{order.uid}} </mat-card-title>
  <mat-card-subtitle>
    {{order.orderTime}} <br>
    {{order.total}} грн, {{getPaymentState()}}
  </mat-card-subtitle>
  <mat-card-content>
    Порції:
    <ul>
      <li class="item" *ngFor="let p of order.portions">
        <div class="item-info">

          <div class="box-{{p.uid}} text">
            <span class="name">{{p.dish.name}}</span><br/>
          </div>
        </div>
        <span class="quantity">{{p.quantity}}</span>
        <span class="price">{{ p.price }} грн</span>
      </li>
    </ul>

    Побажання:
    <p class="prefs">{{order.preferences}}</p>

    Клієнт:
    <p>Ім'я: {{getClientName()}}</p>
    <p>Телефон: {{getClientPhone()}}</p>

  </mat-card-content>
</mat-card>
