
.order-card {
  margin: 13px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex: 1;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

button {
  margin: 6px 0 6px 3px;
}

.subtitle {
  margin-top: 5px;
}

.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.status {
  font-style: normal;
  font-size: 14px;
  background-color: #bfbfbf;
  color: white;
  padding: 6px 14px;
  border-radius: 20px;
  text-align: center;
  /*margin: 4px;*/
}
