table, .addButton{
  width: 100%;
}

table {
  font-size: 18px;
}

.card-margin {
  margin: 13px;
}

.nested-card {
  margin: 13px 0;
  padding: 13px;
}

.card {
  max-width: 700px;
  margin: 13px auto;
  left: 0;
  right: 0;
}

.custom-file-label::after {
  background-color: #555877 !important;
  color: white !important;
}
