
<div>
  <div class="card card-margin">
    <h4 class="card-header" style="margin-bottom: 0">New dish</h4>
    <div class="card-body">
      <form class="form" (ngSubmit)="f.form.valid && submit(f)" #f="ngForm"
            novalidate>

        <div *ngIf="success" class="alert alert-success">{{success}}</div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>

        <div class="form-group">
          <label for="name">Name</label>
          <input class="form-control"
                 type="text"
                 name="name"
                 [(ngModel)]="dish.name"
                 #name="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && name.invalid }"
                 required/>
          <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
            <div *ngIf="name.errors.required">Name is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="weight">Weight</label>
          <input class="form-control"
                 type="text"
                 name="weight"
                 [(ngModel)]="dish.weight"
                 #weight="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && weight.invalid }"
                 required/>
          <div *ngIf="f.submitted && weight.invalid" class="invalid-feedback">
            <div *ngIf="weight.errors.required">Name is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="calories">Calories</label>
          <input class="form-control"
                 type="text"
                 name="calories"
                 [(ngModel)]="dish.calories"
                 #calories="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && calories.invalid }"
                 />
        </div>

        <div class="form-group">
          <label for="price">Price</label>
          <input class="form-control"
                 type="text"
                 name="price"
                 [(ngModel)]="dish.price"
                 #price="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && price.invalid }"
                 required/>
          <div *ngIf="f.submitted && price.invalid" class="invalid-feedback">
            <div *ngIf="price.errors.required">Name is required</div>
          </div>
        </div>

<!--          <input class="form-control"-->
<!--                 #fileUpload-->
<!--                 id="fileUpload"-->
<!--                 type="file"-->
<!--                 name="fileUpload"-->
<!--                 accept=".png,.jpg,.jpeg"-->
<!--                 (change)="fileChange($event)"/>-->


        <label>Photo</label>
        <div class="input-group mb-3">
          <div class="custom-file">
            <input class="custom-file-input"
                   #fileUpload
                   id="fileUpload"
                   type="file"
                   name="fileUpload"
                   accept=".png,.jpg,.jpeg"
                   (change)="fileChange($event)"/>
            <label class="custom-file-label" for="fileUpload">{{filename}}</label>
          </div>
        </div>



        <div class="card nested-card">
          <table>
            <tr>
              <th>Category</th>
            </tr>

            <tr *ngFor="let dc of dish.categories">
              <td>{{dc.name}}</td>
              <td><button mat-mini-fab type='button' (click)="deleteCategory(dc)">
                <mat-icon>clear</mat-icon>
              </button></td>
            </tr>

            <tr>
              <td>
                <select [(ngModel)]="newCategory" class="custom-select" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let cat of allCategories" [ngValue]="cat">{{cat.name}}</option>
                </select>

              </td>
              <td>
                <button mat-mini-fab color="primary" type='button' (click)="addCategory()">
                  <mat-icon>add</mat-icon>
                </button>
              </td>
            </tr>
          </table>
        </div>

        <div class="card nested-card">
          <table>
            <tr>
              <th>Ingredient</th>
              <th>Quantity</th>
            </tr>

            <tr *ngFor="let di of dish.dishIngredients">
              <td>{{di.ingredient.name}}</td>
              <td>{{di.quantity}}</td>
              <td>
                <button mat-mini-fab type='button' (click)="delete(di)">
                <mat-icon>clear</mat-icon>
              </button>
              </td>
            </tr>

            <tr>
              <td>
                  <input class="form-control"
                         type="text"
                         name="ingrName"
                         [(ngModel)]="newIngredient.name"/>
              </td>
              <td>
                  <input class="form-control"
                         type="text"
                         name="quantity"
                         [(ngModel)]="newQuantity"/>
              </td>
              <td>

              <button mat-mini-fab color="primary" type='button' (click)="addIngredient()">
                <mat-icon>add</mat-icon>
              </button>

              </td>
            </tr>
          </table>
        </div>


        <button class="btn btn-primary addButton">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          {{this.dish.uid ? "Save" : "Add"}}
        </button>

      </form>
    </div>
  </div>
</div>

